.cartcount
{
    position: relative;
    top: 10px;
    padding: 8px;
}
.cart-header{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    text-decoration: underline;
}
.items-style{
    text-align:center;
    padding:10px;
}
.list-group-item:hover{
    background-color:#337ab7;
    color:white;
    font-stretch: expanded;
    background: 2px solid whitesmoke;
}
.arrow-style{
    float:right
}
.list-group{
    padding:0;   
}
@media(max-width:670px){
    .mobile-nav{
        margin-left:15px !important; 
    }
    .pane-mobile{
        padding-top:0px;
        padding-bottom:0px;
    }
    .mobile-padding{
        padding-top:120px;
    }
    .nav-bar-fixed{
        width:100%;
        position: fixed;
        z-index: 100;
    }
}
@media (min-width:671px) {
    .mobile-padding{
        padding-top:10px;
    }
    
}
