<div>
	<nav class="navbar-default">
	  <div class='container-fluid'>
		<ul class="nav navbar-nav">
		  <div class="panel-heading">Welcome to Online Food App</div>
		</ul>
		<ul class="nav navbar-nav navbar-right" *ngIf="!selectedItemsCount>0">
			<button type="button" class="btn btn-default btn-sm" style="margin-top: 8px; margin-right:10px" (click)="goToCart()">
				<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
			  </button>
		</ul>
		<ul class="nav navbar-nav navbar-right" *ngIf="selectedItemsCount>0">
		<button type="button" class="btn btn-default btn-sm" style="margin-top: 8px; margin-right:10px"  (click)="goToCart()">
			<span class="glyphicon glyphicon-shopping-cart"></span> {{selectedItemsCount}} Items, Rs. {{grandTotal}}
		  </button>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<div class="panel-heading" style="margin-right: 2px">Welcome Guest !!</div>
		</ul>
		</div>
	</nav>
</div>
<div *ngIf="!selectedItemsCount>0"  style="padding-top:10px; margin:2%">
	<div class="thumbnail">
		<img src="assets/images/empty_cart.png" class="img-rounded" alt="Cart is empty" width="175 !important" height="236 !important">
		<br>
		<div style="text-align:center">
			<a class="btn btn-default"> Oops !!!</a>
			<br>
			<br> Shopping Cart is empty
			<br>
			<br>
			<div style="padding-bottom:10px">
				<button type="button" class="btn btn-primary" (click)="gotoItems()">Continue Shopping</button>
			</div>
		</div>
	</div>
</div>
<div  *ngIf="selectedItemsCount>0">
	<div class="col-xs-8" style="padding-top:10px">
				<div class=" thumbnail" style="padding:50px !important" >
					<div *ngFor="let item of selectedItems">
									<div class="row">
										<div class="col-xs-4">
											<a [routerLink]="[item.itemId]">
												{{item.itemName}} </a>
										</div>
										<div class="col-xs-4">
											Price : {{ item.price | currency:'INR':true:'1.2-2'}}
										</div> 
								</div>
								<br>	
					<div class="row">
						<div class="col-xs-4"></div>
						<div class="col-xs-4">
						Quantity: <input type="number" id="quant" class="text-form" [(ngModel)]=item.quantity min="1" max="100" (change)="updateCart(item)">
						</div>
					</div>
					<br>
					<div *ngIf="item.imageUrl" align="center"  class="row">
						<img [src]='item.imageUrl' [style.width.px]='imageWidth' [style.height.px]='imageHeight' class='img-thumbnail'/>
					</div>
					</div>
							</div>
				
	</div>
	<div class="col-xs-4" style="padding-top:10px" >
		<div class="thumbnail"  style="padding:50px !important">
			<div class="row">
				Payment Summary
			</div>
			<br>
			<div class="row">
				<div class="col-xs-6"> Sub Total</div>
				<div class="col-xs-6">{{grandTotal | currency:'INR':true:'1.2-2'}}</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-6"> Delivery Charges</div>
				<div class="col-xs-6">{{deliveryCharge | currency:'INR':true:'1.2-2'}}</div>
			</div>
			<br>
			<hr size="2px">
			<div class="row">
				<div class="col-xs-6">Total</div>
				<div class="col-xs-6">{{grandTotal+deliveryCharge | currency:'INR':true:'1.2-2'}}</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4"></div>
				<button class="btn btn-primary" (click)="checkout()"> CheckOut</button>
			</div>
		</div>
		
	</div>
</div>

<div class="alert alert-success" *ngIf="submit" style="width:30%;margin-left:35%">
	Your payment is succesfull and order will be delivered soon
</div>