<div>
  <nav class="navbar-default" style="padding-top:10px;padding-bottom:10px;color:black">
    <div class='container-fluid'>
      <ul class="nav navbar-nav">
        <div class="panel-heading">Welcome to Online Food App</div>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!selectedItemsCount>0">
        <button type="button" class="btn btn-default btn-sm" style="margin-top: 8px; margin-right:10px" (click)="goToCart()">
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
        </button>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="selectedItemsCount>0">
        <button type="button" class="btn btn-default btn-sm" style="margin-top: 8px; margin-right:10px" (click)="goToCart()">
          <span class="glyphicon glyphicon-shopping-cart"></span> {{selectedItemsCount}} Items, Rs. {{orderTotal}}
        </button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="panel-heading" style="margin-right: 2px">Welcome Guest !!</div>
      </ul>
    </div>
  </nav>
</div>

<div class="container panelpos" style="padding-top:10px">
    <div class="row">
      <div class="col-xs-7 col-xs-offset-3">
        <div class='panel panel-primary'>
          <div class='panel-heading'>{{pageTitle}}</div>
          <div class='panel-body'>
            <table class="table table-striped tablebgcolor" *ngIf = "item">
              <tr>
                <td *ngIf="item.imageUrl" align="center"><img [src]='item.imageUrl' [style.width.px]='imageWidth' [style.height.px]='imageHeight' class='img-thumbnail'/></td>
                <td>
                  <div class="txtsize txtcolor">{{item.itemName}}</div>
                  <div>Price: {{item.price}}</div>
                  <div>Description: {{item.description}}</div>
                </td>
              </tr>
            </table>
          </div>
          <div class='panel-footer'>
            <a class='btn btn-default backbtnpos' (click)='onBack()'>
              <i class='glyphicon glyphicon-chevron-left'></i> Back
            </a>
          </div>
        </div>
      </div>
    </div>