
<div class="container col-sm-6 col-sm-offset-3" style="top:140px">
	<div class="panel panel-primary">
		<div class="panel-heading">Welcome to Online Food App</div>
		<div class="panel-body">
			<form>
				<div >
						<label for="UserName">Username :</label>
						<input type="text" class="form-control" id="username" placeholder="User name" [(ngModel)]="username" required [ngModelOptions]="{standalone: true}">
				</div>
				<div >
						<label for="validationDefault01">Password :</label>
						<input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" required [ngModelOptions]="{standalone: true}">
				</div>
				<br>
				<div>
					<button class="btn btn-primary" type="submit" (click)="loginasAdmin()">Login</button>
				</div>
				<br>
				<div>
						Continue as <a (click)="loginasguest()" class="btn btn-primary btn-sm">Guest !</a>
				</div>
			</form>
		</div>
	</div>
</div>
